# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mz80emu

# build temp files

Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Debug/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
mz80emu.dir/
mz80emu.sln
mz80emu.vcxproj
mz80emu.vcxproj.filters
test.vcxproj
test.vcxproj.filters
x64/
build/*
.vs/
boost/
